h1{background-color:LightGray;color:#d2b48c;font-family:verdana}

h2{background-color:LightGray;color:#bf7f7b;font-family:verdana}

h3{background-color:SlateBlue;color:#d9593b;font-family:verdana}

